 <head>
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> |
    <% end %>
    Vite Rails
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= turbo_boost.meta_tag %>
  <%= vite_javascript_tag 'application' %>
  <%= vite_stylesheet_tag 'application' %>
</head>
